@import url('https://fonts.googleapis.com/css?family=Raleway');
html {
    font-size: 16px;
    color: #555;
}
body {
    line-height: 1.8rem;
    font-family: 'Raleway', sans-serif;
}
header {
    color: white;
    background-size: cover;
    background-image: url('img/pattern.jpg');
    background-position: fixed;
    text-align: center;
    height: auto;
}
header h1 {
    text-transform: uppercase;
}
header img {
    max-width: 150px;
    height: auto;
    border-radius: 50%;
    padding-top: 15px;
}
header div {
    margin: 0 auto;
    max-width: 640px;
    padding-bottom: 20px;
}
main {
    max-width: 1440px;
    margin: 0 auto;
}
main h3 {
    text-transform: uppercase;
    font-weight: 700;
}
main section {
    border-bottom: 2px solid #555;
}
main section:last-child {
    border-bottom: none;
}

.course {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .course .title {
    color: #509e98;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33%
  }
  
  .course .descrition {
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%
  }